<% include partials/header %>

<h1><%= place.name %></h1>
<img src="<%= place.img %>">
<p><%= place.desc %></p>

<% place.comments.forEach(function(comment){ %>
  <p>
    <strong> <%= comment.author %></strong> - <%= comment.text %>
  </p>
<% }) %>
<% include partials/footer %>
